<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= issue.title %>
  </td>
  <td style="width: 8rem; max-width: 8rem;" class="truncate max-w-8 overflow-auto px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= issue.description %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= issue.priority %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= issue.assignee %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= issue.status %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
  <%= form_with(model: issue, local: true) do |form| %>
        <%= form.submit :completed,
                           data: {
                             id: issue.id,
                             action: "issue#toggle"
                           },
                           class: "text-blue-600 hover:bg-blue-100 rounded px-4 py-2" %>
      <% end %>
</td>
<td class="w-24 px-6 py-4 whitespace-nowrap text-right text-sm">
  <%= link_to edit_issue_path(issue) do %>
    <%= image_tag("edit-icon.png", alt: "Edit", class: "hover:bg-blue-100 rounded p-2") %>
  <% end %>
</td>
<td class="w-24 px-6 py-4 whitespace-nowrap text-right text-sm">
  <%= button_to issue_path(issue), method: :delete, data: { confirm: "Are you sure?" } do %>
    <%= image_tag("delete-icon.png", alt: "Delete", class: "hover:bg-red-100 rounded p-2") %>
  <% end %>
</td>

</tr>
